@model IEnumerable<MusicLibrary.Models.Song>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Song</h4>
    <hr />
@foreach(var item in Model){
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(modelItem => item.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MusicContent)
        </dt>
        <dd class = "col-sm-10">
                        @if(item.MusicContent != null)
                    {
                        <audio controls>
                            <source src ="~/@Url.Content(item.MusicContent)" type="audio/mp3">
                            Your browser does not support the audio element.
                        </audio>
                    }
        </dd>
    </dl>
    }
</div>
<div>
    <button class="button button2" onclick="history.back()">Go Back</button>
</div>
