@model MusicLibrary.Models.Playlist

@{
    ViewData["Title"] = "Create";
}

<h1>Create a new playlist</h1>

<div
  class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-black"
  style="background-image: url('/images/backgroundGenre.png');"
>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlaylistName" class="control-label"></label>
                <input asp-for="PlaylistName" class="form-control" />
                <span asp-validation-for="PlaylistName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfSongs" class="control-label"></label>
                <input asp-for="NumberOfSongs" class="form-control" />
                <span asp-validation-for="NumberOfSongs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalTime" class="control-label"></label>
                <input asp-for="TotalTime" class="form-control" />
                <span asp-validation-for="TotalTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
